<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/admin.css">
<link rel="shortcut icon" href="../img/eric.ico">
<title>Ericsson Network IQ :: Security Administration :: Role Management :: View Permission Groups</title>
<link rel="stylesheet" type="text/css" href="../css/admin.css"> 
<script language="JavaScript" src="../javascript/PreventXSS.js"></script>
</head>

<body bgcolor="#ffffff" >


<table border="0"> 
<tr valign=top>

<!-- main menu -->
<td width=220>
#parse( "main_menu.vm" )
</td>

<!-- the body -->
<FORM METHOD="POST" Action="">
<td width=800>
Security Administration&nbsp;&gt;&gt;&nbsp;Role Management&nbsp;&gt;&gt;&nbsp;<a href="">View Permission Groups</a>

<hr />
<br>
	List of all permission groups(s) assigned to the selected role
<br><br><br>

$!_debug

##
##
##


<table style="width=350px;border:1px solid #99F;" cellpadding="0" cellspacing="12">

<tbody>
<tr >
    <td align="left" valign="top" width=40%><strong>Role:</strong></td>
    <td align="left" valign="top">$roleData.roleName</td>
</tr>


<tr >
    <td align="left" valign="top"><strong>Title:</strong></td>
    <td align="left" valign="top">$roleData.title</td>
</tr>

<tr >
    <td align="left" valign="top"><strong>Description:</strong></td>
    <td align="left" valign="top">$roleData.description</td>
</tr>


<tr >
    <td align="left" valign="top"><strong>Permission Group(s):</strong></td>
    <td align="left" valign="top">  
        #foreach( $permGrpName in $roleData.permissionGroups )
            $permGrpName<br>
        #end
    </td>    
</tr>

</tbody>

</table>

<br><br>


<a href="$req.getContextPath()/servlet/RoleManagement">&lt;&lt;&nbsp;Role Management</a></font>
</FORM>
#parse( "footer.vm" )

</body>
	<script>
		window.addEventListener('load',replaceBrowserState)
	</script>
</html>






