		<select name="week_2" style="font-size: 9;" onchange="this.selectedIndex=0;">
			<option selected value="$week_2">$week_2</option>
			#foreach ($iweek in [1..52])
			<option value="$iweek">$iweek</option>
			#if ($iweek == 52 && ($year_2.equals("2004") || $year_2.equals("2009")))
			<option value="53">53</option>
			#end
			#end
		</select>

		<select name="year_2" style="font-size: 9;" onchange="this.selectedIndex=0;">
			<option selected value=$year_2>$year_2</option>
			#if($validYearRange)
				#foreach( $validYear in $validYearRange )
					#if($validYear != $year_2)
					<option value=$validYear>$validYear</option>
					#end
				#end
			#elseif($futureYearRange)
				#foreach ( $futureYear in $futureYearRange )
					#if($futureYear != $year_2)
					   <option value=$futureYear>$futureYear</option>
					#end
				#end
			#else
				#foreach ( $iyear in [2005..2015] )
					<option value="$iyear">$iyear</option>		
				#end
			#end
		</select>

