		<select name="month_1" style="font-size: 9;" onchange="this.selectedIndex=0;">
			<option selected value="$month_1">$month_1</option>
			#foreach ($imonth in [1..12])
			<option value="$imonth">$imonth</option>
			#end
		</select>
		
		<select name="year_1" style="font-size: 9;" onchange="this.selectedIndex=0;">
			<option selected value=$year_1>$year_1</option>
			#if($validYearRange)
				#foreach( $validYear in $validYearRange )
					#if($validYear != $year_1)
					<option value=$validYear>$validYear</option>
					#end
				#end
			#elseif($futureYearRange)
				#foreach ( $futureYear in $futureYearRange )
					#if($futureYear != $year_1)
					   <option value=$futureYear>$futureYear</option>
					#end
				#end
			#else
				#foreach ( $iyear in [2005..2015] )
					<option value="$iyear">$iyear</option>		
				#end
			#end
		</select>

