		<select name="week_1" style="font-size: 9;" onChange="populate_1(this.form,this.selectedIndex);">
			<option selected value="$week_1">$week_1</option>
			#foreach ($iweek in [1..53])
			<option value="$iweek">$iweek</option>
			#end
		</select>
		
		<select name="year_1" style="font-size: 9;" onChange="populate_1(this.form,this.form.month_1.selectedIndex);">
			<option selected value=$year_1>$year_1</option>
			#if($validYearRange)
				#foreach( $validYear in $validYearRange )
					#if($validYear != $year_1)
					<option value=$validYear>$validYear</option>
					#end
				#end
			#elseif($futureYearRange)
				#foreach ( $futureYear in $futureYearRange )
					#if($futureYear != $year_1)
					   <option value=$futureYear>$futureYear</option>
					#end
				#end
			#else
				#foreach ( $iyear in [2005..2015] )
					<option value="$iyear">$iyear</option>		
				#end
			#end
		</select>

