#if (!$search_string)
#set ($search_string = "")
#end

<html>
	<head>
	    <link rel="shortcut icon" href="../img/eric.ico">
		<title>Ericsson Network IQ Monitoring Status</title>
		#include( "calendar_js.txt" )
	</head>

	<body bgcolor="#ffffff">
		<table border="0">
			<tr valign=top>
				<td width=220>
					#parse( "main_menu.vm" )
				</td>
				<td width=800>
<font size="1" face="Verdana, Helvetica, Arial">Session Info&nbsp;&gt;&gt;&nbsp;<a href="LMSDay">Monitoring Summary</a></font>
<hr />
					<form name=f1 action=$req.getContextPath()/servlet/ShowLogMonitoringStatus method=post>
						<table border=1>
							<tr>
								<td align="center">
									<font size="-1"><b>Search<br>Start Date</b></font>
								</td>
								<td align="center">
									<font size="-1"><b>Search<br>End Date</b></font>
								</td>
								<td align="center">
									<font size="-1"><b>Search<br>Measurement type</b></font>
								</td>
							</tr>
							<tr>
								<td valign=top>
									#parse( "cal_select_1.vm" )
								</td>
								<td valign=top>
									#parse( "cal_select_2.vm" )
								</td>
								<td valign="top" style="font-size: 9;">
#set($nlist = $twoLevelSelectionBuilder.getNameList())
<select name="search_string" style="font-size: 9;">
<option selected value="$theGroup">$theGroup</option>
#foreach($grp in $nlist)
<option>$grp</option>
#end			
</select>
								</td>
							</tr>
							<tr>
								<td valign=top colspan=4>
									<input type="hidden" name="search_done" value="true">
									<input type=submit style="font-size: 11;" value="Get Information">
								</td>
							</tr>
						</table>
					</form>
					
					<p><hr size="1"><p>

#if ($search_done == "true")
<table border=1 cellpadding=0 cellspacing=0>
	<tr>
		<td align="center" width="250">
			<font size="-2">
				<b>Measurement Type</b>
			</font>
		</td>
		<td align="center" width="100">
			<font size="-2">
				<b>Time Level</b>
			</font>
		</td>
		<td align="center" width="100">
			<font size="-2">
				<b>Loaded</b>
			</font>
		</td>
		<td align="center" width="100">
			<font size="-2">
				<b>Not Loaded</b>
			</font>
		</td>
		<td align="center" width="100">
			<font size="-2">
				<b>Hole</b>
			</font>
		</td>
	</tr>
	#foreach ($row in $resultArray)
	<tr>	
		<td align="left">
			<font size="-2">
				$row.getTypeName()
			</font>
		</td>
		<td align="center">
			<font size="-2">
				$row.getTimeLevel()
			</font>
		</td>
		<td align="center">
			<font size="-2">
				$row.getCountLoaded()
			</font>
		</td>
		<td align="center">
			<font size="-2">
				$row.getCountNotLoaded()
			</font>
		</td>
		<td align="center">
			<font size="-2">
				$row.getCountHoles()
			</font>
		</td>
	</tr>
	#end
</table>
#end
				</td>
			</tr>
			#parse( "footer.vm" )
		</table>
	</body>
</html>
