#set ($appPath = $req.getContextPath()) 
#set ($servletPath = "$appPath/servlet")

<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/admin.css">
<link rel="shortcut icon" href="../img/eric.ico">
<title>Ericsson Network IQ :: System Monitors</title>
<script language="JavaScript" src="../javascript/PreventXSS.js"></script>
<script type="text/javascript">
	function confirmServerDelete( hostName ) {
		var message = "Are you sure you want to delete server " + hostName + " and all its monitors?";
		if(confirm(message) == true) {
			document.getElementById("hostName").value = hostName;
			document.getElementById("action").value = "removeServer";
			document.forms[0].submit();
		}
	}
	
	function confirmSystemMonitorDelete( hostName, monitor ) {
		var message = "Are you sure you want to delete system monitor " + monitor + "?";
		if(confirm(message) == true) {
			document.getElementById("hostName").value = hostName;
			document.getElementById("monitor").value = monitor;
			document.getElementById("action").value = "removeMetaSystemMonitor";
			document.forms[0].submit();
		}
	
	}
</script>
</head>
<body bgcolor="#ffffff">
<form name="form" id="form" action="$servletPath/SystemMonitorsServlet"
	method="post"><input type="hidden" id="action" name="action" value="">
<input type="hidden" id="hostName" name="hostName" value="">
<input type="hidden" id="monitor" name="monitor" value="">

<table border=0>
	<tr valign=top>
		<td width=220>#parse( "main_menu.vm" )</td>
		<td width=800><font size="1" face="Verdana, Helvetica, Arial">System
		Monitoring&nbsp;&gt;&gt;&nbsp;<a href="$servletPath/SystemMonitorsServlet">System Status</a></font>
		<hr />
		<!-- 
		<table border="0" width="100%" border="0" cellpadding="0"
			cellspacing="0">
			<tr>
				<td colspan="3"><a
					href="$servletPath/SystemMonitorsServlet?action=editSystemMonitors">Configure system status</a></td>
			</tr>
		</table>
		-->
		#if ($message)
		<table border="1" cellpadding="2" cellspacing="0">
			<tr>
				<td><font size="-1" face="Courier">$message</font></td>
			</tr>
		</table>
		#end

		<!-- metaServersStatusHtmlSources start -->
		#if ($metaServerStatusHtmlSources)
			#foreach($metaServerStatusHtmlSource in $metaServerStatusHtmlSources)
				$metaServerStatusHtmlSource
			#end
		#end
		<!-- metaServersStatusHtmlSources end -->

		
		<!-- System monitors table starts here -->
		
		<!-- 
		<table border="0" width="100%" border="0" cellpadding="0"
			cellspacing="0">
			<tr>
				<td colspan="3">&nbsp;</td>
			<tr>
			<tr>
				<td class="tab" align="center" colspan="2"><font
					face="Verdana, Helvetica, Arial" size="3">System monitors</font></td>
			</tr>

			<tbody>
		
				<tr>
					<td bgcolor="#b3b3ff" align="center" bgcolor="#ff0000" height="30"
						width="1" width="10"><IMG SRC="../img/${serverMonitorsBulpColor}_bulp.gif" WIDTH="30" HEIGHT="30" BORDER="0" ALT=""></td>
					<td valign="top" align="center" bgcolor="#FFCC33" height="30"
						width="200"><font face="Verdana, Helvetica, Arial" size="2">System monitors</font>
						</td>
					<td valign="top" width="72%">
					<table border="0" cellpadding="0" cellspacing="0" width="100%"
						bgcolor="#FFCC33">
						<tbody>
							<tr>
								<td colspan="3" height="40" valign="top">
								<font face="Verdana, Helvetica, Arial" size="1">
									<a href="$servletPath/SystemMonitorsDetailsServlet">View system monitor details</a>
									
								</font>
								
									</td>
							</tr>
							
							
							<tr>
								<td colspan="3" height="" valign="top">
								
								</td>
							</tr>

						</tbody>
					</table>
					</td>
				</tr>
			</tbody>
		</table>
		-->
		
		
		
		
		
		
		</td>
	</tr>
	#parse( "footer.vm" )
</table>
</body>
	<script>
		window.addEventListener('load',replaceBrowserState)
	</script>
</html>
